VITE_SUPABASE_URL=https://twpsgrmoqxemxhrzbfwd.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_bGvf7MW02OCmxC963N1-uw_stJZSYL7
CLIENT_ID=364476071746-d367n2fh38hjvj3vk2n1ulubtp09j3om.apps.googleusercontent.com
CLIENT_SCRET=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
